{% extends 'device/devicesTemplate.html' %}


{% block PageHeader %}Edit Device{% endblock %}
{% block Content %}
    <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}

            <label>Current Password<br><input type="password" name="current_password"/></label>
            <br>
            <label>New Password<br><input type="password" name="new_password"/></label>
            <br>
            <label>New Password Confirmation<br><input type="password" name="new_password_confirmation"/></label><br>
            <input type="hidden" name="uname" value="{{ user.username }}"/>

            <button type="submit" class="btn btn-primary btn-submit" name="btnform1">Submit</button>


        </form>

    </div>
    <script>

    </script>
{% endblock %}
