{% extends 'device/devicesTemplate.html' %}
{% block PageHeader %}Orders{% endblock %}
{% block Content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div>

                    <table class="table table-sm" id="devicestable">
                        <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                User
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Device Name
                            </th>
                            <th>
                                Project
                            </th>
                            <th>
                                Booked To
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for order in orders %}
                            <tr>
                                <td>
                                    {{ order.orderFrom|date:'H:i, d-m-Y' }}
                                </td>
                                <td>
                                    {{ order.user }}
                                </td>
                                <td>
                                    {{ order.device.code }}
                                </td>
                                <td>
                                    {{ order.device.name }}
                                </td>
                                <td>
                                    {{ order.project.name }}
                                </td>
                                <td>
                                    {{ order.orderTo|date:'H:i, d-m-Y' }}
                                </td>
                                <td>
                                    {{ order.status }}
                                </td>
                                <td>
                                    {% if not order.status == 'Rejected' and not order.status == 'Confirmed' %}
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form.as_p }}

                                            <input type="hidden" name="orderid" value="{{ order.id }}">
                                            <button type="submit" name="confirmorder" class="btn btn-success btn-sm">
                                                Confirm
                                            </button>
                                            <button type="submit" name="rejectorder" class="btn btn-danger btn-sm">
                                                Reject
                                            </button>

                                        </form>
                                    {% endif %}
                                </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>
{% endblock %}